/* imports */

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
/* font-family: 'Sofia', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* end of imports */


* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* css custom properties */

:root {
    /* colors */
    --primary-color: #7cc6fe;
    --primary-tcolor: #07111D;
    --secondary-tcolor: #243447;

    /* fonts */
    --cursive: 'Sofia', cursive;
    --sans-serif: 'Open Sans', sans-serif;

    /* font sizes */
    --large: 3.157rem;
    --medium: 2.369rem;
    --small: 1.777rem;
    --smaller: 1.333rem;
    --smallest: 1.2rem;
}

/* end of css custom properties */


body {
    


/* header styles */


/* end of header styles */